#root{
    margin-top: 5px;
     /* position: fixed; */
    width: 100%;
    height: 75%;
  /*   border:2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
}
#root-1{
    width: 25%;
    height: 70%;
    background: rgb(0,0,0,0.9);
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    padding: 0;
    
}
.img-inicio{
    width: 100%;
    height: 70%;
    margin: 0%;
    clip-path: polygon(100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
   
}
.img-inicio-rotar{
    transform: rotate3d(1,1,1,360deg) !important;
    transition: all 2.5s; 
}
.span-img{
    color:white !important;
    display: block !important;
    margin-top: 30px;
}



#root-2{
    width: 25%;
    height: 70%;
    background: rgb(0,0,0,0.9);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.iframe{
    width: 100%;
    height:100%;

}
#video{
    width: 100%;
    height:100%; 
}
@media(max-width:1050px){
    #root-1,#root-2{
        width: 30%;
    }
}

@media (max-width:900px){
    #root{
        flex-direction: column;
        width: 100%;
        height: 100% !important;
    }
    #root-1,#root-2{
        width: 40%;
        height: 45%;
    }
    #root-1{
        margin-bottom: 2px;
        
    }
    #root-2{
        margin-bottom: 50px;
    }
    .img-inicio{
        height: 65% !important;
    }
}

@media (max-width:700px){
    #root-1,#root-2{
        width: 50%;
    }
}
@media (max-width:500px){
    #root-1,#root-2{
        width: 60%;
    }
}
@media (max-width:400px){
    #root-1,#root-2{
        width: 70%;
    }
}
@media (max-width:300px){
    #root-1,#root-2{
        width: 85%;
    }
}

.contactos{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    box-sizing: border-box;
}